<% layout("/layouts/boilerplate")%>
    <style>
        .tax-info{
            display: none;
        }
        .tax-toggle{
            padding: 0.7rem;
            border: 1px black solid ;
            border-radius: 1rem;
            margin-top: -1rem;
            margin-left: 3rem;
        }
    </style>
    
    <div id="filters"> 
        <div class="filter">
            <a href="/listings/category?q=trending">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </a>
        </div>

        <div class="filter">
            <a href="/listings/category?q=rooms">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
        </a>
        </div>
        <div class="filter">
            <a href="/listings/category?q=iconicCities">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Iconic Cities</p>
        </a>
        </div>
        <div class="filter">
            <a href="/listings/category?q=beachfront">
            <div><i class="fa-solid fa-umbrella-beach"></i></div>
            <p>Beachfront</p>
        </a>
        </div>
        <div class="filter">
            <a href="/listings/category?q=farm">
            <div><i class="fa-solid fa-cow"></i></div>
            <p>Farm</p>
        </a>
        </div>
        <div class="filter" >
            <a href="/listings/category?q=pool">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Pool</p>
        </a>
        </div>
        <div class="filter" >
            <a href="/listings/category?q=camping">
            <div><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
        </a>
        </div>
        <div class="filter">
            <a href="/listings/category?q=arctic">
            <div><i class="fa-solid fa-snowman"></i></div>
            <p>Arctic</p>
        </a>
        </div>
        <div class="filter">
            <a href="/listings/category?q=mountains">
            <div><i class="fa-solid fa-mountain-sun"></i></div>
            <p>Mountains</p>
        </a>
        </div>
        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes </label>
              </div>
        </div>
    </div>


    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
        <%for(list of listings){%>
            <a href="/listings/<%=list._id%>" class="listing-link">
                <div class="card col listing-card">
                    <img src="<%=list.image.url%>" class="card-img-top" alt="listing_image" style="height: 20rem">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                      <p class="card-text"><b><%=list.location%></b>
                    <br>
                    &#8377; <%=list.price.toLocaleString("en-IN")%>/night
                    <i class="tax-info">&nbsp;&nbsp;+18% GST</i>
                        </p>
                    </div>
                  </div>
            </a>
        <%}%>
    </div>
    <script>
        let taxSwitch=document.getElementById("flexSwitchCheckDefault");
        taxSwitch.addEventListener("click",()=>{
            let taxInfo=document.getElementsByClassName("tax-info");
            for(info of taxInfo){
                if(info.style.display!="inline"){
                    info.style.display="inline";
                }else{
                    info.style.display="none"
                }
            };
        })
    </script>
    